# Project Information
site_name: REDI
site_url: https://in-for-disaster-analytics.github.io/REDI-Documentation/
site_author: UT Austin REDI Team
site_description:  >-
  Documenation for REDI products

# Repository
repo_name: In-For-Disaster-Analytics/REDI-Documentation
repo_url: https://github.com/In-For-Disaster-Analytics/REDI-Documentation

# Configuration
theme:
  name: material
  custom_dir: overrides
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.path
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.top
    - toc.follow
  font:
    text: Open Sans
    code: Roboto

  palette: 
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode    
  
    
extra_css:
  - stylesheets/output.css

extra_javascript:
  - javascripts/extra.js  

markdown_extensions:
  - toc:
      permalink: true  

# Page tree
nav:
  - Home: index.md
  - About:
    - Philosophy: about/philosophy.md
    - Concept Models: about/concept-models.md
    - Meet the Team: about/team.md
  - REDI Ecosystem:  
      - Integrated Solutions:  redi-ecosystem/integrated-solutions.md 
      - Data Ecosystem:  
          - Dynamo Model Catalog: redi-ecosystem/data-ecosystem/dynamo-model-catalog.md
          - DataX portal: redi-ecosystem/data-ecosystem/datax.md
          - Data:  
              - Data Discovery: redi-ecosystem/data-ecosystem/data/data-discovery.md  
              - Data Registration: redi-ecosystem/data-ecosystem/data/data-registration.md  
      - App Ecosystem:  
          - NNA Sites & Stories:  redi-ecosystem/app-ecosystem/sites-and-stories.md
          - Dynamo Cookbooks:  redi-ecosystem/app-ecosystem/dynamo-cookbooks.md
      # - Infrastructure Resources      
  - Projects:
    - NNA Alaska: projects/nna-alaska.md  
    - Subsidence: projects/subsidence.md   
    - SETx KMP: projects/setx.md   
    - RGV AI Enabled Modeling: projects/rgv.md   
  - Protocols:
    - Drone: protocols/drone.md  
    - Geoslam (Geoslam): protocols/geoslam.md  
    - Survey123: protocols/survey123_user.md
  - Field Sessions: field-sessions/fort-davis.md