<style>
    .funding-text {
      text-align: center
    }
    
    </style>

<section class="md-container" >
    <!-- Funding and Logos -->
    <div class="md-footer-meta__inner md-grid">
        <div class="funding-text">
            {# Funding text example from Sites & Stories page: 
                Sites & Stories is funded by: the U.S. National Science Foundation's Smart & Connected Communities (#2127353) and the Navigating the New Arctic Program (#1952196); 
                Planet Texas 2050 Program of The University of Texas at Austin; Intersectional Equity Programs of Microsoft Azure
                #}
        </div>

        <div>
        {# Add Logos here #}
        </div>
      </div>
</section>