  <!-- Main banner for landing page -->
  <section class="md-container" style="border: 3px solid greenyellow;">

    <div class="riverbend-image"  style="border: 3px solid orangered;margin:50px;">
     Where's the text?
     <div class="main-intro">
       <h1> REDI SOLUTIONS</h1>
       <span >Put some kind of introduction here. Lorem ipsum and stuff like that.  blah blah blah.</span>
       <p> And add some 'Read More' buttons?</p>
     </div>
   </div>
 

   </section>
 
   <section class="md-container" style="border: 3px solid pink;"></section>>    
     <div class="alaska-image" style="height:500px;font-size:36px"></div>
   </section>
   <section class="md-container" style="border: 3px solid orange;"></section>>
 
     
     <div class=" rgv-image" style="height:500px;font-size:36px"></div>    
   </section>